body {
    display: flex;
    flex-direction: column;
}

/*.navbar > .container {*/
/*    display: flex;*/
/*}*/

/*.nav-menu {*/
/*    display: flex;*/
/*    margin-left: auto;*/
/*}*/

.user-account-page__input-card {
    background-color: #ececec;
    background-color: rgba(236, 236, 236, 0.8);
    margin-top: 2.5em;
}

.login-form > .field + .field {
    margin-top: 1.5em;
}

.user-account-page {
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
    align-items: start;
}

.product-panel-block {
    justify-content: space-between;
}

.listing-container {
    display: flex;
    justify-content: center;
    margin-top: 1.5em;
}

.listing-container .panel {
    width: 100%;
    max-width: 425px;
}

.product-form {
    display: flex;
    justify-content: center;
    width: 100%;
}

.qty-input {
    display: none;
    width: 20%;
}

.qty-input.shown {
    display: initial;
}

.discount-panel-block {
    background: rgba(255, 165, 0, 0.75);
}