{% extends 'base.html' %}

{% block style %}
  {#  <link rel="stylesheet" href="{{ url_for('static', filename='css/semantic.min.css') }}">#}
{% endblock %}

{% block page_content %}
  <div class="container listing-container">
    <div class="panel">
      <p class="panel-heading"> Brands </p>
      <div class="panel-blocks-container brands-panel-blocks-container">
        {% for brand in discounted_brands %}
          <a class="panel-block py-3 pl-5"
             href="{{ url_for('main.discounted_items_brand_products', brand_name=brand[0]) }}">
            {{ brand[0] }}
          </a>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}