{% extends 'base.html' %}

{% block page_content %}
<!--<a href="{{ url_for('main.category') }}" class="button is-dark mb-3">back</a>-->
<form action="{{ url_for('main.submit_order') }}" method="post">
  {{ form.hidden_tag() }}
  <div class="container mt-5">
    <div class="panel">
      <p class="panel-heading">
        <a href="{{ url_for('main.category') }}"><i class="material-icons">arrow_back_ios </i></a>
        {{ category.category_name }}
      </p>

      {% for product in products %}
            <label class="checkbox is-fullwidth panel-block">
              <input type="checkbox" name="product" multiple value={{ product.product_id }}>
              {{ product.description }}
            </label>
      {% endfor %}
      <div class="panel-block">
        <button class="button is-link is-fullwidth" type="submit">Save</button>
      </div>
    </div>
  </div>

</form>
{% endblock %}
