{% extends 'base.html' %}

{% block page_content %}
  <div class="container listing-container">
    <form action="{{ url_for('main.submit_order') }}" method="post" class="product-form">
      {{ form.hidden_tag() }}
      <div class="panel listing-panel">
        <p class="panel-heading">
          <a href="{{ url_for('main.category') }}"><i class="material-icons">arrow_back_ios </i></a>
          {{ category.category_name }}
        </p>
        {% for product in products | sort(attribute = 'description') %}
{#          {% if product.inventory.inventory > 0 %}#}
            <div class="field panel-block product-panel-block">
              <label class="checkbox" style="display: block">
                <input class="product-input-check" multiple name="product" type="checkbox" value={{ product.product_id }}>
                <span>{{ product.description }}</span>
              </label>
              <button class="button is-static">Rs {{ product.mrp }}</button>
                <label class="label qty-input">
                    <span>Qty</span>
                    <input required type="number" step="1" min="0" name="product-qty-{{ product.product_id }}" class="input" value="0">
                </label>
            </div>
{#          {% endif %}#}
        {% endfor %}

        {% if products|length > 0 %}
          <div class="panel-block">
            <button class="button is-link is-fullwidth" type="submit">Save</button>
          </div>
        {% else %}
          <div class="panel-block has-text-centered">
            <p>No entries found</p>
          </div>
        {% endif %}
      </div>
    </form>
  </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        const form = document.querySelector('form');
        form.addEventListener('change', (ev) => {
            if (ev.target.classList.contains('product-input-check')) {
                let inputBox = ev.target.closest('.panel-block').querySelector('.qty-input');
                if (ev.target.checked) {
                    inputBox.classList.add('shown');
                } else {
                    inputBox.classList.remove('shown');
                }
            }
        })
    </script>
{% endblock %}