{% extends 'base.html' %}



{% block page_content %}
<div class="section">
  <a class="button is-primary" href="{{ url_for('main.google_sheets_upload') }}">Upload</a>
  <div>
    {% if message %}
    {{ message }}
    {% endif %}
  </div>
  {% if sheet_data %}
  <div>
    <h2>Errors found</h2>

    {% for sheet in sheet_data %}
    <h3>{{ sheet['name'] }}</h3>
    <ul>
      {% for e in sheet['errors'] %}
      <li>{{ e['record'] }} - {{ e['exception'] }}</li>
      {% endfor %}
    </ul>
    {% endfor %}
  </div>
  {% endif %}
</div>
</div>
{% endblock %}
